* {
    margin: 0;
}

html {
    background-color: rgba(17, 1, 1, 0.966);
}

.table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

/*HEADER*/
.titulo {
    background-image: url("../imagenes/ladarkacademia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo h1 {
    padding-left: 47px;
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: 'Dancing Script';
    font-size: 80px;
    text-align: center;
    color: #cce5ff;
}

.titulo audio {
    position: fixed;
    float: left;
}

.fecha {
    float: right;
    font-family: 'Dancing Script';
    font-size: 25px;
    color: bisque;
}

nav ul.menu_principal {
    list-style-type: circle;  
    list-style-position: outside; 
    background: #0a0000d8;
    padding: 20px;
    border: 2px solid black;
}

nav ul.menu_principal li{
    color: whitesmoke;
    margin: 5px;
    display: inline;
}

nav ul.menu_principal li a{
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Dancing Script';
}

nav ul.menu_principal li a:link.a1 {    /*sin visitar*/
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

            /*cuando pasas el mouse por arriba*/
nav ul.menu_principal li a:hover {
    color:red;
    text-decoration: underline;
}
            /*al hacerle click*/
nav ul.menu_principal li a:active {
    color: brown;
    text-decoration: underline;
}

/*INDEX.PHP*/

.index_img1 {
    width: 750px;
    height: 750px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 100px;
    float: left;
}

.titulo1{
    margin-left: 100px;
    margin-top: 300px;
    font-size: 70px;
    font-family: 'Dancing Script';
    color: #53565a;
    float: left;
}

.parrafo{

    margin-left: 125px;
    font-family: 'Dancing Script';
    color: #58626d;
    text-align: center;
    font-size: 35px;
    float: left;
}

/*FOOTER*/

footer {
    float: left;
    width: 100%;
    height: 300px;
    background-image: url("../imagenes/footer.jpg");
    background-repeat: repeat-x;

    border: 2px black solid;
}   

.p_footer {
    margin-top: 50px;
    font-family: 'Dancing Script';
    font-size: 80px;
    text-align: center;
    color: #cce5ff;
}

.a_footer {
    margin-left: 800px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: 'Dancing Script';
    font-size: 35px;
}

/*NOSOTROS.PHP*/

.nosotros_img1 {
    width: 750px;
    height: 750px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    float: left;
}

.nosotros_titulo1 {
    margin-right: 100px;
    margin-top: 300px;
    font-size: 60px;
    font-family: 'Dancing Script';
    color: #53565a;
    float: right;
}

.nosotros_parrafo {
    margin-right: 95px;
    font-family: 'Dancing Script';
    color: #58626d;
    text-align: center;
    font-size: 30px;
    float: right;
}

/*CONTACTO.PHP*/

.contacto_div1 {
    float: left;
    color: aliceblue;
    margin-left: 100px;
    margin-top: 150px;

}

.contacto_h2 {
    margin-bottom: 50px;
    font-family: 'Dancing Script';
    font-size: 100px;
    text-align: center;

}

.contacto_form1 {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 30px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}

#label_com {
    display: block;
}

#comentario {
    margin-top: 15px;
}

input {
    width: 200px;
}

.contacto_img1 {
    width: 700px;
    height: 700px;
    margin-top: 70px;
    margin-right: 150px;
    margin-bottom: 50px;
    float: right;
}

.mensaje {
    margin-top: 25px;
    margin-left: 300px;
}

.enviar {
    margin-bottom: 150px;
}

#biblioh1 {
    padding-left: 120px;
    margin-bottom: 50px;
    font-family: 'Dancing Script';
    font-size: 100px;
    text-align: center;
    color: aliceblue;
    margin-top: 150px;
}

.biblioimg1 {
    padding-left: 150px;
    float:left
}

#biblioh2 {
    font-size: 50px;
}

#portada {
    width: 300px;
    height: 300px;
}

#eliminar {
    float: left;
    font-family: 'Dancing Script';
    color: whitesmoke;
    font-size: 30px;
}

.biblioh3 {
    font-family: 'Dancing Script';
    color: whitesmoke;
    font-size: 30px;
}

.titulosug {
        color: white;
        margin-left: 700px;
        margin-top: 100px;
        margin-bottom: 180px;
        font-size: 35px;
        font-family: 'Dancing Script';   
    }

.form1 {
        box-sizing: border-box;
        text-align: center;
        font-family: 'Dancing Script';
        font-size: 30px;
    }

    /* 
	Generic Styling, for Desktops/Laptops 
	*/
	