* {
    margin: 0;
}

html {
    background-color: rgba(17, 1, 1, 0.966);
}


/*GRID LAYOUT */
.grid-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 100px;
    grid-template: auto auto auto / repeat(2, 50%);
    grid-template-areas: 
        "h h"
        "c c"
        "f f";
}

.header {
    grid-area: h;
}

.footer {
    grid-area: f;
    grid-row: 3 / 4;
}

.table {
    grid-column: 1/3;
}
/*login.php*/
.form {
    grid-column: 1/2;
}

.img {
    grid-column: 2/3;
}

/*HEADER*/
header {
    height: 270px;
    width: 100%;
    background-image: url("../imagenes/ladarkacademia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    padding-top: 60px;
    font-family: 'Dancing Script';
    font-size: 80px;
    text-align: center;
    color: #cce5ff;
}

header audio {
    position: fixed;
}

nav {
    padding-top: 32px;
}

nav ul.menu {
    list-style-type: circle;  
    list-style-position: outside; 
    background: #0a0000d8;
    padding: 20px;
    border: 2px solid black;
}

nav ul.menu li{
    color: whitesmoke;
    display: inline;
    color: #cce5ff;
}

nav ul.menu li a{
    color: #cce5ff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Dancing Script';
}

nav ul.menu li a:link.a1 {    /*sin visitar*/
    background-color: #f44336;
}

            /*cuando pasas el mouse por arriba*/
nav ul.menu li a:hover {
    color:red;
    text-decoration: underline;
}
            /*al hacerle click*/
nav ul.menu li a:active {
    color: brown;
    text-decoration: underline;
}
/*FOOTER*/

footer {
    height: 270px;
    width: 100%;
    background-image: url("../imagenes/footer.jpg");
    background-repeat: repeat-x;
    background-size: cover;

    border: 2px black solid;
}   

.footer-p1 {
    margin-top: 60px;
    font-family: 'Dancing Script';
    font-size: 80px;
    text-align: center;
    color: #cce5ff;
}

.footer-p2 {
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 35px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}
/*Login.php*/


/*agregarlibro.php*/
h1{
    font-family: 'Dancing Script';
    font-size: 120px;
    text-align: center;
    color: #cce5ff;
}

p {
    padding: 15px 0px;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 40px;
    color: #cce5ff;
}

.form {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: 'Dancing Script';
    color: #cce5ff;
}

.form-style {
    padding: 10px 0px;
}

label {
    color: #cce5ff;
    padding: 10px;
}

.img {
    max-width: 550px;
    width: 100%;
    height: auto;
}




/* Biblioteca.php*/
.table { 
    height: 336px;
    grid-column: 1/3;
    width: 100%; 
    border-collapse: collapse; 
}

tr { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}